//////////////////////////////// Color Schemes //////////////////////////////////////

    $color: (
        primary: #2dc897,
        background: #6d1df7,
        accent: #1fa328,
        text: #20045d,
    );

    $transparent: (
        primary: #2dc89767,
        background: #6d1df752,
        accent: #1fa32854,
    );
